.center {
	margin: auto;
 	width: 50%;
}

header {
	text-align: center;
}

header h1 {
	background-color: #ffb88c;
}

section h2 {
	text-align: center;
}

footer {
	border-top: 1px solid black;
}

footer div {
	text-align: center;
}

footer div:first-child {
	margin-top: 20px;
}